<?xml version="1.0"?>
<!-- Basic WAM-V with gazebo plugins for dynamics -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Include macros for dynamics plugins -->
    <xacro:include filename="$(find aquanaute_gazebo)/urdf/macros.xacro" />
    <!-- Defines the base vehicle -->
    <xacro:include filename="$(find aquanaute_description)/urdf/aquanaute_description.urdf.xacro"/>
    <!-- Attach hydrodynamics plugin -->
    <xacro:usv_dynamics_gazebo name="aquanaute_dynamics_plugin"/>
</robot>
