<?xml version="1.0"?>
<launch>
      <env name="ROSCONSOLE_CONFIG_FILE" value="$(find vrx_gazebo)/config/custom_rosconsole.conf"/>
      <!-- Gazebo world to load -->
      <arg name="world" default="$(find vrx_gazebo)/worlds/ocean.world" />
      <!-- If true, run gazebo GUI -->
      <arg name="gui" default="true" />
      <!-- If true, run gazebo in verbose mode -->
      <arg name="verbose" default="true"/>
      <!-- If true, start in paused state -->
      <arg name="paused" default="false"/>
      <!-- Set various other gazebo arguments-->
      <arg name="extra_gazebo_args" default=""/>
      <!-- Start in a default namespace -->
      <arg name="namespace" default="aquanaute"/>

      <!-- Initial USV location and attitude-->
      <arg name="x" default="0" />
      <arg name="y" default="0" />
      <arg name="z" default="0.1" />
      <arg name="P" default="0" />
      <arg name="R" default="0" />
      <arg name="Y" default="0" />

      <env name="VRX_DEBUG" value="true"/>
     
      <!-- Allow user specified thruster configurations
       H = stern trusters on each hull
       T = H with a lateral thruster
       X = "holonomic" configuration -->
      <arg name="thrust_config" default="H" />

      <!-- Do you want to enable sensors? -->
      <arg name="camera_enabled" default="false" />
      <arg name="gps_enabled" default="false" />
      <arg name="imu_enabled" default="false" />
      <arg name="lidar_enabled" default="false" />
      <arg name="ground_truth_enabled" default="false" />

      <!-- Start Gazebo with the world file -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)"/>
            <arg name="verbose" value="$(arg verbose)"/>
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="$(arg gui)" />
            <arg name="enable_ros_network" value="true"/>
            <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
      </include>

      <!-- Load robot model -->
      <arg name="urdf" default="$(find aquanaute_gazebo)/urdf/aquanaute_gazebo.urdf.xacro"/>
      <param name="$(arg namespace)/robot_description" command="$(find xacro)/xacro '$(arg urdf)'"/>

      <!-- Spawn model in Gazebo, script depending on non_competition_mode -->
      <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg R) -P $(arg P) -Y $(arg Y)
              -urdf -param $(arg namespace)/robot_description -model aquanaute"/>
</launch>
